<main>
	<div id="js-header" class="u-header u-header--side g-" data-header-position="left" data-header-breakpoint="lg">
		<div
			class="u-header__sections-container g-bg-white g-brd-right--lg g-brd-gray-light-v2">
			<div class="u-header__section u-header__section--light">
				<nav class="navbar navbar-expand-lg">
					<div class="js-mega-menu container">
						<!-- Responsive Toggle Button -->
						<button
							class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0"
							type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar"
							data-toggle="collapse" data-target="#navBar">
                <span class="hamburger hamburger--slider">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
                </span>
                </span>
						</button>
						<!-- End Responsive Toggle Button -->

						<!-- Logo -->

						<a rel="nofollow" class="navbar-brand g-hidden-lg-up ">
							<img src="" data-logo="picture" alt="StackOverflow" width="80"/>
							Stack Exchange
						</a>

						<div class="profile g-hidden-md-down text-center">
							<h3 data-user="name" class="u-heading-v6-2 text-uppercase">User Name</h3>
							<a rel="nofollow" class="navbar-brand">
								<img src="" data-user="picture"/>
							</a>
							<div class="">
								<h5>Мої досягнення: <span data-user="reputation">1</span></h5>
								<div data-user="badges" class="g-font-size-20 g-font-weight-300"></div>
							</div>
						</div>

						<div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 w-100" id="navBar">
							<ul class="navbar-nav ml-auto text-uppercase g-font-weight-600 u-main-nav-v8 u-sub-menu-v1">
								<li class="nav-item g-mx-2--md g-mx-5--xl g-mb-5 g-mb-0--lg w-100">
									<a data-href='/home' rel="nofollow" class="nav-link">Home Page</a>
								</li>
								<li class="nav-item g-mx-2--md g-mx-5--xl g-mb-5 g-mb-0--lg w-100">
									<a data-href='/myQuestions' rel="nofollow" class="nav-link">My Questions</a>
								</li>
								<li class="nav-item g-mx-2--md g-mx-5--xl g-mb-5 g-mb-0--lg w-100">
									<a data-href='/favorites' rel="nofollow" class="nav-link">My Favorites</a>
								</li>
								<li class="nav-item g-mx-2--md g-mx-5--xl g-mb-5 g-mb-0--lg w-100">
									<a data-href='/logout' rel="nofollow" class="nav-link">Log Out</a>
								</li>
							</ul>
						</div>
						<!-- End Logo -->

						<div class="text-center g-hidden-lg-down">
							<ul class="list-inline g-mb-10">
								<li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title=""
								    data-original-title="Facebook">
									<a href="#" class="g-color-main g-color-primary--hover">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title=""
								    data-original-title="Instagram">
									<a href="#" class="g-color-main g-color-primary--hover">
										<i class="fa fa-instagram"></i>
									</a>
								</li>
								<li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title=""
								    data-original-title="Twitter">
									<a href="#" class="g-color-main g-color-primary--hover">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
							</ul>
							<p class="mb-0">2017 &copy; All Rights Reserved.</p>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</main>