<div class="question">
	<div class="row">
		<!-- Content -->
		<div class="col-lg-8 col-md-12 g-mb-10 g-mb-0--lg">
			<article class="g-brd-around g-brd-gray-light-v4 rounded-0 g-pa-20 g-bg-white ">
				<!-- Content Header -->
				<div class="row">
					<div class="col-md-12">
						<div class="media">
							<div class="media-body">
                <span class="d-block g-mb-3">
                  <a rel="nofollow"
                     class="u-link-v5 g-font-size-20 g-color-gray-dark-v1 g-color-primary--hover g-cursor-pointer"
                     data-question="title"></a>
                </span>
							</div>
						</div>
					</div>
				</div>
				<!-- End Content Header -->


				<hr class="g-brd-gray-light-v4">
				<div class="row">
					<div class="col-md-12">
						<div class="tags"></div>
					</div>
				</div>
				<hr class="g-brd-gray-light-v4">
				<div class="question__body"></div>
				<hr class="g-brd-gray-light-v4">
			</article>
		</div>
		<!-- End Content -->

		<!-- Sidebar -->
		<div class="col-lg-4 col-md-12 ">
			<aside class="g-brd-around g-brd-gray-light-v4 g-bg-white rounded-0 g-pa-15">
				<div class="media g-mb-5">
					<div class="d-flex align-self-center g-mt-3 g-mr-15">
						<img class="g-width-40 g-height-40" data-sidebar="user_picture" src="" alt="">
					</div>
					<div class="media-body">
						<div class="d-block">
							<span class="u-link-v5 g-font-size-18 g-color-gray-dark-v1 g-color-primary--hover"
							      data-sidebar="username"></span>
						</div>
						<span class="g-color-gray-dark-v5" data-sidebar="reputation"></span>
					</div>
				</div>
				<hr class="g-brd-gray-light-v4">

				<div class="media-body">
					<ul class="list-unstyled">
						<li class="media g-mb-10">
							<span class="d-block g-color-gray-dark-v5 g-width-80">
								<i class="icon-calendar g-pos-rel g-top-1 g-mr-5"></i> Asked:
							</span>
							<span class="media-body" data-sidebar="asked"></span>
						</li>
						<li class="media g-mb-10">
							<span class="d-block g-color-gray-dark-v5 g-width-80">
                <i class="icon-eye g-pos-rel g-top-1 g-mr-5"></i> Viewed:
              </span>
							<span class="media-body" data-sidebar="viewed"></span>
						</li>
						<li class="media g-mb-10">
							<span class="d-block g-color-gray-dark-v5 g-width-80">
                <i class="icon-energy g-pos-rel g-top-1 g-mr-5"></i>Activity:
							</span>
							<span class="media-body" data-sidebar="active"></span>
						</li>
					</ul>
				</div>
			</aside>
		</div>
		<!-- Sidebar -->
	</div>
</div>


