/* Add here all your css styles (customizations) */
.badge-gold {
    color: #ffcc01;
}

.badge-silver {
    color: #b4b8bc;
}

.badge-bronze {
    color: #d1a684;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

pre {
    background-color: #eff0f1;
}