.user-info{
    color:black;
    text-decoration: none;
    display: inline-flex;
    padding: .5rem 0 ;
}
.nav-item{padding: .5rem 0 ;}
.badge,.reputation{
    font-weight: 300;
}
.reputation{
    font-size: 80%;
    font-weight: 400;
}
.badges{
    margin-left: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.user-info:hover, .nav-item:hover{
    color:black;
    text-decoration: none !important;
    background-color: #eff0f1;
}
.nav-item-form:hover{
    background-color: #fafafb !important;
}
.badge-silver{
    color: #b4b8bc;
}
.badge-bronze{
    color: #d1a684;
}
.badge-gold{
    color:#ffcc01;
}
nav.navbar{
    font-family: 'Roboto', sans-serif;
    background-color: #fafafb !important;
    height: 100%;
}
